<div class="container mt-4">
  <h2>Páciensek</h2>


  <div class="card p-3 mb-4">
    <h5>Új páciens hozzáadása</h5>

    <input class="form-control mb-2" [(ngModel)]="newPatient.name" placeholder="Név">

    <button class="btn btn-primary" (click)="addPatient()">Hozzáadás</button>
  </div>

  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Név</th>
        <th>Műveletek</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of patients">

        <td>{{ p.id }}</td>

        
        <td *ngIf="editPatientData?.id !== p.id">
          {{ p.name }}
        </td>

        
        <td *ngIf="editPatientData?.id === p.id">
          <input class="form-control" [(ngModel)]="editPatientData.name">
        </td>

        <td>
          
          <button *ngIf="editPatientData?.id !== p.id"
                  class="btn btn-warning btn-sm me-2"
                  (click)="editPatient(p)">
            Szerkesztés
          </button>

          
          <button *ngIf="editPatientData?.id === p.id"
                  class="btn btn-success btn-sm me-2"
                  (click)="updatePatient()">
            Mentés
          </button>

          
          <button class="btn btn-danger btn-sm"
                  (click)="deletePatient(p.id)">
            Törlés
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
